<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User data</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    <div class="container mx-auto">
        <div class="border border-primary text-primary rounded mx-auto text-center" style="margin: 10px">
            <h1>Miner information</h1>
            <h1>Account: <a th:href="${'https://etherscan.io/address/' + address}" th:text="${address}">Address</a></h1>
        </div>
        <div class="row">
            <div class="border border-primary rounded col-sm text-center" style="padding: 10px; margin: 10px">
                <h5>Balance:</br> <span th:text='${info.getData().getBalance()}'>null</span> </h5>
                <div class="progress active">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"  aria-valuemin="0" aria-valuemax="100" th:attr="aria-valuenow=${payout}" th:style="'width:'+ ${payout}+'%;'"></div>
                </div>
            </div>
            <div class="border border-primary rounded col-sm text-center" style="padding: 10px; margin: 10px">
                <h5>Current hashrate:</br>  <span th:text='${info.getData().getCurrentHashrate()}'>null</span> Mh/s</h5>
            </div>
            <div class="border border-primary rounded col-sm text-center" style="padding: 10px; margin: 10px">
                <h5>Average hashrate 3 hr:</br>  <span th:text='${info.getData().getAvgHashrate().getH3()}'>null</span> Mh/s </h5>
            </div>
        </div>

        <div class="border border-primary rounded mx-auto text-center" style="margin: 10px">
        <table class="table table-bordered mx-auto" style="margin: 10px">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Current hashrate</th>
                <th scope="col">Rating</th>
                <th scope="col">Average hashrate 6 hr</th>
                <th scope="col">Average hashrate 24 hr</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="worker: ${info.getData().getWorkers()}">
                <td th:text="${worker.getId()}">null</td>
                <td th:text="${worker.getHashrate()}">null</td>
                <td th:text="${worker.getRating()}">null</td>
                <td th:text="${worker.getAvgH6()}">null</td>
                <td th:text="${worker.getAvgH24()}">null</td>
            </tr>
            </tbody>
        </table>
        </div>

        <div class="border border-primary rounded mx-auto text-center" style="margin: 10px">
            <div style="width: 100%; overflow-x: auto; overflow-y: hidden">
                <div style="width: 4000px; height: 300px">
                    <canvas id="myChart" height="300" width="0"></canvas>
                </div>
            </div>
        </div>


    </div>

</body>

<script th:inline="javascript">
    var ctx = document.getElementById('myChart').getContext('2d');
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                label: 'Hashrate',
                backgroundColor: '#a83232',
                borderColor: '#a83232',
                data:   /*[(${chartHashrate})]*/ '',
                fill: false,
            }]
        },
        options: {
            elements: {
                point:{
                    radius: 0
                }
            },
            maintainAspectRatio: false,
            responsive: true,
            title: {
                display: true,
                text: 'Hashrate chart'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    type: 'time',
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Hashrate'
                    }
                }]
            }
        }
    });


</script>
</html>

